<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Stations</key>
	<array>
		<dict>
			<key>Images</key>
			<array>
				<string>green01.jpg</string>
				<string>green02.jpg</string>
				<string>green03.jpg</string>
				<string>green04.jpg</string>
				<string>green05.jpg</string>
			</array>
			<key>Directors</key>
			<array>
				<dict>
					<key>GrName</key>
					<string>Γκρεγκ Τάλλας</string>
					<key>EnName</key>
					<string>Greg Tallas</string>
					<key>Icon</key>
					<string>Gregg_Ntallas.jpg</string>
				</dict>
			</array>
			<key>Actors</key>
			<array>
				<dict>
					<key>GrName</key>
					<string>Κωστή Μαρία</string>
					<key>EnName</key>
					<string>Maria Kosti</string>
					<key>Icon</key>
					<string>kwsti_maria.jpg</string>
				</dict>
				<dict>
					<key>GrName</key>
					<string>Φέρμας Νίκος</string>
					<key>EnName</key>
					<string>Nikos Fermas</string>
					<key>Icon</key>
					<string>fermas_nikos.jpg</string>
				</dict>
				<dict>
					<key>GrName</key>
					<string>Φραγκεδάκης Βασίλης</string>
					<key>EnName</key>
					<string>Vassilis Fraghedakis</string>
					<key>Icon</key>
					<string>fragkedakhs_vasilis.jpg</string>
				</dict>
			</array>
			<key>GrText</key>
			<string>Η αληθινή ιστορία επιβίωσης 160 παιδιών στην Θεσσαλονίκη της Κατοχής. Η ταινία έχει σαν χώρο δράσης τη Θεσσαλονίκη των δεκαετιών &apos;40 και του &apos;50. Μέρος των γυρισμάτων έγινε στο Επταπύργιο-Άνω Πόλη. Οι μικροί πρωταγωνιστές προέρχονται απο το Ορφανοτροφείο Αθηνών. Χρυσό Βραβείο στο Φεστιβάλ Κινηματογράφου του Εδιμβούργου (1955). </string>
			<key>EnText</key>
			<string>Based on a true story of 160 orphans, who live in Thessaloniki under the German Occupation during the 1940s. The film wanders around the centre and the acropolis of Thessaloniki.</string>
			<key>Title</key>
			<string>1η Στάση</string>
			<key>GrSubtitle</key>
			<string>Το ξυπόλητο τάγμα (1955)</string>
			<key>EnSubtitle</key>
			<string>The Barefoot Badallion (1955)</string>
			<key>Latitude</key>
			<string>40.6197797</string>
			<key>Longitude</key>
			<string>22.9638766</string>
		</dict>
		<dict>
			<key>Images</key>
			<array>
				<string>green11.jpg</string>
				<string>green12.jpg</string>
				<string>green13.jpg</string>
			</array>
			<key>Directors</key>
			<array>
				<dict>
					<key>GrName</key>
					<string>Γιάννης Δαλιανίδης</string>
					<key>EnName</key>
					<string>Yannis Dalianidis</string>
					<key>Icon</key>
					<string>dalianidis.jpg</string>
				</dict>
			</array>
			<key>GrText</key>
			<string>Δύο αδέρφια προσπαθούν να ισορροπήσουν ανάμεσα στις αισθηματικές τους σχέσεις και τις συντηρητικές αρχές της πατρικής οικίας τους. 

Ταινία εξ ολοκλήρου γυρισμένη στη Θεσσαλονίκη( Πανόραμα, περιοχή Ανθέων, πλατεία Αριστοτέλους ) .

Μεταφορά του θεατρικού έργου του Δ. Ψαθά «Εξοχικόν Κέντρον ο Έρως».</string>
			<key>EnText</key>
			<string>Two brothers try to balance between the emotional relations and the conservative principles of a paternal family. The film is totally shot in Thessaloniki (Panorama, Antheon area, city centre).</string>
			<key>Actors</key>
			<array>
				<dict>
					<key>GrName</key>
					<string>Ηλιόπουλος Ντίνος</string>
					<key>EnName</key>
					<string>Dinos Iliopoulos</string>
					<key>Icon</key>
					<string>eliopoulos.jpeg</string>
				</dict>
				<dict>
					<key>GrName</key>
					<string>Λάσκαρη Ζώη</string>
					<key>EnName</key>
					<string>Zoe Laskari</string>
					<key>Icon</key>
					<string>laskari.jpg</string>
				</dict>
				<dict>
					<key>GrName</key>
					<string>Ζερβός Παντελής</string>
					<key>EnName</key>
					<string>Pandelis Zervos</string>
					<key>Icon</key>
					<string>zervos.jpg</string>
				</dict>
				<dict>
					<key>GrName</key>
					<string>Στρατηγός Στέφανος</string>
					<key>EnName</key>
					<string>Stefanos Stratigos</string>
					<key>Icon</key>
					<string>stratigos.jpg</string>
				</dict>
			</array>
			<key>Title</key>
			<string>2η Στάση</string>
			<key>GrSubtitle</key>
			<string>Ο ατσίδας (1961)</string>
			<key>EnSubtitle</key>
			<string>The cutie (1961)</string>
			<key>Latitude</key>
			<string>40.632804</string>
			<key>Longitude</key>
			<string>22.941331</string>
		</dict>
		<dict>
			<key>Images</key>
			<array>
				<string>green21.jpg</string>
				<string>green22.jpg</string>
				<string>green23.jpg</string>
			</array>
			<key>Directors</key>
			<array>
				<dict>
					<key>GrName</key>
					<string>Γιάννης Δαλιανίδης</string>
					<key>EnName</key>
					<string>Yannis Dalianidis</string>
					<key>Icon</key>
					<string>dalianidis.jpg</string>
				</dict>
			</array>
			<key>Actors</key>
			<array>
				<dict>
					<key>GrName</key>
					<string>Βλαχοπούλου Ρένα</string>
					<key>EnName</key>
					<string>Rena Vlachopoulou</string>
					<key>Icon</key>
					<string>vlaxopoulou.jpg</string>
				</dict>
				<dict>
					<key>GrName</key>
					<string>Ηλιόπουλος Ντίνος</string>
					<key>EnName</key>
					<string>Dinos Iliopoulos</string>
					<key>Icon</key>
					<string>eliopoulos.jpeg</string>
				</dict>
				<dict>
					<key>GrName</key>
					<string>Καραγιάννη Μάρθα</string>
					<key>EnName</key>
					<string>Martha Karagianni</string>
					<key>Icon</key>
					<string>karagiannh.jpg</string>
				</dict>
				<dict>
					<key>GrName</key>
					<string>Ναθαναήλ Έλενα</string>
					<key>EnName</key>
					<string>Elena Nathanael</string>
					<key>Icon</key>
					<string>nathanahl.jpg</string>
				</dict>
				<dict>
					<key>GrName</key>
					<string>Βουτσάς Κώστας</string>
					<key>EnName</key>
					<string>Kostas Voutsas</string>
					<key>Icon</key>
					<string>voutsas.jpg</string>
				</dict>
			</array>
			<key>GrText</key>
			<string>Ένα νεανικό μουσικό συγκρότημα, ένας προσωπάρχης που συνοδεύει την κόρη του αφεντικού του στη Θεσσαλονίκη, μια κληρονομιά που περιμένει έναν γάμο. Μια παρέα νέων ανθρώπων σε αστείες και ρομαντικές περιπέτειες. 

Η ταινία έχει γυρίσματα σε χώρους όπως ΔΕΘ, Λευκός Πύργος, κ.α.

Το πρώτο μιούζικαλ του Γιάννη Δαλιανίδη και παράλληλα η πρώτη ελληνική ταινία σινεμασκόπ . 

Πρώτη κινηματογραφική εμφάνιση για την 17χρονη τότε  Έλενα Ναθαναήλ . 
</string>
			<key>EnText</key>
			<string>During the Thessaloniki International Fair, a group of young people gets involved in funny love affairs. The film is shot in many areas of the city, such as the Thessaloniki International Fair and the White Tower.</string>
			<key>Title</key>
			<string>3η Στάση</string>
			<key>GrSubtitle</key>
			<string>Κάτι να καίει (1964)</string>
			<key>EnSubtitle</key>
			<string>Some like it hot (1964)</string>
			<key>Latitude</key>
			<string>40.628192</string>
			<key>Longitude</key>
			<string>22.9561</string>
		</dict>
		<dict>
			<key>Images</key>
			<array>
				<string>green31.jpg</string>
				<string>green32.jpg</string>
			</array>
			<key>Actors</key>
			<array>
				<dict>
					<key>GrName</key>
					<string>Λαδικού Αλεξάνδρα</string>
					<key>EnName</key>
					<string>Alexandra Ladikou</string>
					<key>Icon</key>
					<string>ladikou.jpg</string>
				</dict>
				<dict>
					<key>GrName</key>
					<string>Αντωνόπουλος Άγγελος</string>
					<key>EnName</key>
					<string>Angelos Antonopoulos</string>
					<key>Icon</key>
					<string>antwnopoulos.jpg</string>
				</dict>
			</array>
			<key>Directors</key>
			<array>
				<dict>
					<key>GrName</key>
					<string>Τάκης Κανελλόπουλος</string>
					<key>EnName</key>
					<string>Takis Kanellopoulos</string>
					<key>Icon</key>
					<string>kanelopoulos.jpeg</string>
				</dict>
			</array>
			<key>GrText</key>
			<string>Ένα ταξίδι με τρένο, μια στάση με ολιγόωρη καθυστέρηση, ένας δυνατός έρωτας δύο ανθρώπων, μια παρένθεση. 

Βασισμένη στο θεατρικό έργο του Νοέλ Κάουαρντ «Ασάλευτη Ζωή» . 

Η ταινία κέρδισε τέσσερα βραβεία στο Φεστιβάλ Κινηματογράφου Θεσσαλονίκης

Η ταινία γυρίστηκε στο  νέο Σιδηροδρομικό Σταθμό, στη Νέα Παραλία Θεσσαλονίκης και στην περιοχή Αρετσού (Ν. Κρήνη) . 
</string>
			<key>EnText</key>
			<string>A train journey with a delayed stop. A strong love affair, a parenthesis in the lives of two people. The film won 4 prizes in Thessaloniki Film Festival. It was shot in the sea front of Thessaloniki and the area of Aretsou (Nea Krini).</string>
			<key>Title</key>
			<string>4η Στάση</string>
			<key>GrSubtitle</key>
			<string>Παρένθεση (1968)</string>
			<key>EnSubtitle</key>
			<string>Parenthesis (1968)</string>
			<key>Latitude</key>
			<string>40.6223568</string>
			<key>Longitude</key>
			<string>22.9512486</string>
		</dict>
		<dict>
			<key>Images</key>
			<array>
				<string>green41.jpg</string>
				<string>green42.jpg</string>
			</array>
			<key>Actors</key>
			<array>
				<dict>
					<key>GrName</key>
					<string>Τζώρτζογλου Στράτος</string>
					<key>EnName</key>
					<string>Stratos Tzortzoglou</string>
					<key>Icon</key>
					<string>tzortzoglou.jpg</string>
				</dict>
				<dict>
					<key>GrName</key>
					<string>Μπαζάκα Θέμις</string>
					<key>EnName</key>
					<string>Themis Bazaka</string>
					<key>Icon</key>
					<string>bazaka.jpg</string>
				</dict>
			</array>
			<key>Directors</key>
			<array>
				<dict>
					<key>GrName</key>
					<string>Παντελής Βούλγαρης</string>
					<key>EnName</key>
					<string>Pantelis Voulgaris</string>
					<key>Icon</key>
					<string>voulgaris.jpg</string>
				</dict>
			</array>
			<key>GrText</key>
			<string>Η πορεία ενός ταλαντούχου ποδοσφαιριστή, ο οποίος μέσα από νίκες και ήττες, τραυματισμούς και παρασκήνιο, θα καταλάβει ότι η επιτυχία έχει το τίμημά της. 

Μέρος της ταινίας έχει γυριστεί στη Θεσσαλονίκη ( Πλατεία Αριστοτέλους, Εύοσμος ).

Βασισμενη στο ομώνυμο μυθιστόρημα του Μένη Κουμανταρέα . 

Η ταινία κέρδισε 2 βραβεία στο Φεστιβάλ Κινηματογράφου Θεσσαλονίκης . 

Ο πρωταγωνιστής της ταινίας Στράτος Τζώρτζογλου την ίδια χρονιά  θα συμμετάσχει στα γυρίσματα της ταινίας του Θόδωρου Αγγελόπουλου «Τοπίο στην ομίχλη», που γίνονται στη Θεσσαλονίκη.</string>
			<key>EnText</key>
			<string>The journey of a talented football player  goes through defeats, injuries and background, which will make him understand that success comes at a price. Part of the film was shot in Thessaloniki (Aristotelous Square, Evosmos).</string>
			<key>Title</key>
			<string>5η Στάση</string>
			<key>GrSubtitle</key>
			<string>Η φανέλα με το 9 (1987)</string>
			<key>EnSubtitle</key>
			<string>The striker with number 9 (1987)</string>
			<key>Latitude</key>
			<string>40.632804</string>
			<key>Longitude</key>
			<string>22.941331</string>
		</dict>
		<dict>
			<key>Images</key>
			<array>
				<string>green51.jpg</string>
				<string>green52.jpg</string>
			</array>
			<key>Directors</key>
			<array>
				<dict>
					<key>GrName</key>
					<string>Θόδωρος Αγγελόπουλος</string>
					<key>EnName</key>
					<string>Theo Angelopoulos</string>
					<key>Icon</key>
					<string>aggelopoulos.jpg</string>
				</dict>
			</array>
			<key>Actors</key>
			<array>
				<dict>
					<key>GrName</key>
					<string>Γκαντζ Μπρούνο</string>
					<key>EnName</key>
					<string>Bruno Ganz</string>
					<key>Icon</key>
					<string>bruno.jpg</string>
				</dict>
				<dict>
					<key>GrName</key>
					<string>Ρενό Ιζαμπέλ</string>
					<key>EnName</key>
					<string>Isabelle Renauld</string>
					<key>Icon</key>
					<string>izampel.jpg</string>
				</dict>
				<dict>
					<key>GrName</key>
					<string>Μπεντιβόλιο Φαμπρίτσιο</string>
					<key>EnName</key>
					<string>Fabrizio Bentivoglio</string>
					<key>Icon</key>
					<string>bentivolio.jpg</string>
				</dict>
			</array>
			<key>GrText</key>
			<string>Ένας μεσήλικας συγγραφέας, που ασχολείται με το έργο του Δ. Σολωμού, αναζητάει τις αναμνήσεις μιας ζωής σε μια περιπλάνηση μιας ημέρας. 

Γυρισμένη σε αρχοντικό της Βασιλίσσης Όλγας, στην παλιά Παραλία,στην πλατεία Αριστοτέλους και σε σημεία της οδού Τσιμισκή. 

Ο Θόδωρος Αγγελόπουλος γύρισε στη Θεσσαλονίκη  τέσσερις ταινίες ( μέρος τους ή εξ ολοκλήρου ). Η «Μια αιωνιότητα και μια μέρα» γυρίστηκε εξ ολοκλήρου στην πόλη.

Χρυσός Φοίνικας στο Φεστιβάλ των Καννών του 1998 . </string>
			<key>EnText</key>
			<string>The film traces the final days of Alexandre, a celebrated Greek writer as he prepares to leave his seaside home forever. It is shot in Thessaloniki, in a villa located in Vassilisis Olgas Avenue, as well as in the city’s sea front, Aristotelous Square and Tsimiski Street.</string>
			<key>Title</key>
			<string>6η Στάση</string>
			<key>GrSubtitle</key>
			<string>Μια αιωνιότητα και μια μέρα (1998)</string>
			<key>EnSubtitle</key>
			<string>Eternity and a day (1998)</string>
			<key>Latitude</key>
			<string>40.6148604</string>
			<key>Longitude</key>
			<string>22.954036</string>
		</dict>
		<dict>
			<key>Images</key>
			<array>
				<string>green61.jpg</string>
				<string>green62.jpg</string>
				<string>green63.jpg</string>
			</array>
			<key>Actors</key>
			<array>
				<dict>
					<key>GrName</key>
					<string>Μουτούση Αμαλία</string>
					<key>EnName</key>
					<string>Amalia Moutoussi</string>
					<key>Icon</key>
					<string>moutousi.jpg</string>
				</dict>
				<dict>
					<key>GrName</key>
					<string>Σαμαράς Θάνος</string>
					<key>EnName</key>
					<string>Thanos Samaras</string>
					<key>Icon</key>
					<string>samaras.jpg</string>
				</dict>
				<dict>
					<key>GrName</key>
					<string>Τσιριγκούλη Ιωάννα</string>
					<key>EnName</key>
					<string>Ioanna Tsiringhouli</string>
					<key>Icon</key>
					<string>tsirigkouli.jpg</string>
				</dict>
			</array>
			<key>Directors</key>
			<array>
				<dict>
					<key>GrName</key>
					<string>Σύλλας Τζουμέρκας</string>
					<key>EnName</key>
					<string>Syllas Tzoumerkas</string>
					<key>Icon</key>
					<string>syllas_tzoumerkas-200x200.jpg</string>
				</dict>
			</array>
			<key>GrText</key>
			<string>Οικογενειακό δράμα ως ακτινογραφία της νεοελληνικής κοινωνικής πραγματικότητας. 

Η ταινία πραγματοποιεί μεγάλο μέρος της δράσης της σε γνωστά σημεία της σημερινής Θεσσαλονίκης: Λεωφόρος Στρατού (ΕΡΤ3), Νέα Παραλία, Αγίος Δημήτριος. 

Συμμετοχή στην Εβδομάδα Κριτικής του 67ου Φεστιβάλ Βενετίας . </string>
			<key>EnText</key>
			<string>A story about a family and a country falling apart, inspired by true events. A large part of the film is shot in central places of Thessaloniki (Leoforos Stratou Str, the sea front, Saint Demetrius Church).</string>
			<key>Title</key>
			<string>7η Στάση</string>
			<key>GrSubtitle</key>
			<string>Χώρα προέλευσης (2010)</string>
			<key>EnSubtitle</key>
			<string>Homeland (2010)</string>
			<key>Latitude</key>
			<string>40.638799</string>
			<key>Longitude</key>
			<string>22.947769</string>
		</dict>
		<dict>
			<key>Images</key>
			<array>
				<string>green71.jpg</string>
				<string>green72.jpg</string>
				<string>green73.png</string>
				<string>green74.png</string>
				<string>green75.png</string>
			</array>
			<key>GrText</key>
			<string>Όταν ο Κάπτεν Φ.Ρομ, απαιτώντας να τον φωνάζουν με το πραγματικό του όνομα, μετατρέπει τον Λευκό Πύργο σε γιγάντιο φραπέ κι εξαφανίζει όλο το γύρο από τα σουβλατζίδικα της Θεσσαλονίκης, ο Σούπερ Δημήτριος αναλαμβάνει να σώσει τη συμπρωτεύουσα.

Σάτιρα θεσσαλονικιώτικων και βορειοελλαδικών κλισέ  της μεταπολίτευσης με πολύ χιούμορ. 

Τόποι γυρισμάτων: Θεολογική Σχολή ΑΠΘ, νέο Δημαρχιακό Μέγαρο, Λευκός Πύργος, ΟΣΕ, Τούμπα, Σέιχ Σου .  

Βραβείο κοινού στο Φεστιβάλ Κινηματογράφου Θεσσαλονίκης . </string>
			<key>EnText</key>
			<string>In a surreal, parallel universe, Thessaloniki has its very own superhero: Super Demetrios. A film shot around the city of Thessaloniki, showcasing many of the city’s public buildings (the University, the City Hall, the White Tower, the Railway Station).</string>
			<key>Directors</key>
			<array>
				<dict>
					<key>GrName</key>
					<string>Γιώργος Παπαιωάνου</string>
					<key>EnName</key>
					<string>Yorgos Papaioannou</string>
					<key>Icon</key>
					<string>papaiwannou.jpg</string>
				</dict>
			</array>
			<key>Actors</key>
			<array>
				<dict>
					<key>GrName</key>
					<string>Βαϊνάς Δημήτρης</string>
					<key>EnName</key>
					<string>Dimitris Vainas</string>
					<key>Icon</key>
					<string>vainas.jpg</string>
				</dict>
				<dict>
					<key>GrName</key>
					<string>Παπαδόπουλος Πάρης</string>
					<key>EnName</key>
					<string>Paris Papadopoulos</string>
					<key>Icon</key>
					<string>papadopoulos.jpg</string>
				</dict>
				<dict>
					<key>GrName</key>
					<string>Σφέτσα Όλγα</string>
					<key>EnName</key>
					<string>Olga Sfetsa</string>
					<key>Icon</key>
					<string>sfetsa.jpg</string>
				</dict>
			</array>
			<key>Title</key>
			<string>8η Στάση</string>
			<key>GrSubtitle</key>
			<string>Σούπερ Δημήτριος (2011)</string>
			<key>EnSubtitle</key>
			<string>Super Demetrios (2011)</string>
			<key>Latitude</key>
			<string>40.6308363</string>
			<key>Longitude</key>
			<string>22.9543887</string>
		</dict>
	</array>
	<key>Color</key>
	<string>blue</string>
	<key>GrName</key>
	<string>Η Θεσσαλονίκη μέσα απο τον ελληνικό κινηματογράφο</string>
	<key>EnName</key>
	<string>Thessaloniki in Greek cinema</string>
	<key>GrCategory</key>
	<string>Ταινίες</string>
	<key>EnCategory</key>
	<string>Movies</string>
</dict>
</plist>
