<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Stations</key>
	<array>
		<dict>
			<key>Title</key>
			<string>1η Στάση</string>
			<key>Subtitle</key>
			<string>ΛΕΥΚΟΣ ΠΥΡΓΟΣ-ΕΤΑΙΡΕΙΑ ΜΑΚΕΔΟΝΙΚΩΝ ΣΠΟΥΔΩΝ (ΕΜΣ)</string>
			<key>Longitude</key>
			<string>22.934721</string>
			<key>Latitude</key>
			<string>40.641142</string>
			<key>Images</key>
			<array>
				<dict>
					<key>year</key>
					<string>1964</string>
					<key>Image</key>
					<string>blue01.jpg</string>
					<key>text</key>
					<string>Η έδρα του φεστιβάλ μεταφέρεται από τον κινηματογράφο «Ολύμπιον» στην Εταιρεία Μακεδονικών Σπουδών, χώρο με τον οποίο το φεστιβάλ θα συνδεθεί ιστορικά για περίπου 3,5 δεκαετίες (5η Εβδομάς Ελληνικού Κινηματογράφου, 1964)</string>
				</dict>
				<dict>
					<key>year</key>
					<string>1966</string>
					<key>Image</key>
					<string>blue02.jpg</string>
					<key>text</key>
					<string>Ο παραγωγός Τζεϊμς Παρις, εμβληματική μορφή του Φεστιβάλ κατά την περίοδο 1966-1972, «κατεβαζει» ενα τανκ στην πλατεια του Λευκου Πυργου για διαφημιστικους σκοπους της ταινίας «Ξεχασμενοι ηρωες», σε δική του παραγωγή (7η Φεστιβάλ Ελληνικού Κινηματογράφου, 1966). 
(more)…Οι εκπληξεις συνεχιζονται και μεσα στην αιθουσα, οπου οι 1.500 θεατες βρισκουν στη θεση τους απο ενα πακετο τσιγαρα, δωρο του παραγωγου στο κοινο.</string>
				</dict>
				<dict>
					<key>year</key>
					<string>1970</string>
					<key>Image</key>
					<string>blue03.jpg</string>
					<key>text</key>
					<string>Ο Β Εξώστης, το δυναμικό νεανικό κοινό του φεστιβάλ κάνει δυναμικά την εμφάνιση του για να διαδραματίσει σημαντικό ρόλο τα επόμενα χρόνια (11ο ΦΚΘ, 1970): 

(more)… Ο «Β΄εξώστης» παίρνει το όνομά του από την ομώνυμη κατηγορία θέσεων στην αίθουσα της Εταιρείας Μακεδονικών σπουδών, όπου συνήθως συγκεντρώνονται οι φοιτητές και η νεολαία λόγω του φθηνού εισιτηρίου.</string>
				</dict>
				<dict>
					<key>year</key>
					<string>1972</string>
					<key>Image</key>
					<string>blue04.jpg</string>
					<key>text</key>
					<string>Πραγματοποιείται για πρώτη φορά το 1ο Διεθνές Φεστιβάλ Κινηματογράφου Θεσσαλονίκης στην Εταιρεία Μακεδονικών Σπουδών (13ο ΦΚΘ, 1972)

(more)… Το διεθνές φεστιβάλ διεξάγεται μία βδομάδα μετά το επίσημο διαγωνιστικό του ελληνικού προγράμματος, αφορά σε ταινίες μικρού μήκους και διοργανώνεται υπό την ευθύνη της ΔΕΘ και της Διεθνούς Ομοσπονδίας Παραγωγών Κινηματογράφου (FIAPF).</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>2η Στάση</string>
			<key>Subtitle</key>
			<string>ΝΤΟΡΕ – ΑΛΕΞΑΝΔΡΟΣ</string>
			<key>Latitude</key>
			<string>40.635650</string>
			<key>Longitude</key>
			<string>22.935431</string>
			<key>Images</key>
			<array>
				<dict>
					<key>Image</key>
					<string>blue21.jpg</string>
					<key>text</key>
					<string>Η έδρα του φεστιβάλ μεταφέρεται από τον κινηματογράφο «Ολύμπιον» στην Εταιρεία Μακεδονικών Σπουδών, χώρο με τον οποίο το φεστιβάλ θα συνδεθεί ιστορικά για περίπου 3,5 δεκαετίες (5η Εβδομάς Ελληνικού Κινηματογράφου, 1964)</string>
				</dict>
				<dict>
					<key>Image</key>
					<string>blue22.jpg</string>
					<key>text</key>
					<string>Ο παραγωγός Τζεϊμς Παρις, εμβληματική μορφή του Φεστιβάλ κατά την περίοδο 1966-1972, «κατεβαζει» ενα τανκ στην πλατεια του Λευκου Πυργου για διαφημιστικους σκοπους της ταινίας «Ξεχασμενοι ηρωες», σε δική του παραγωγή (7η Φεστιβάλ Ελληνικού Κινηματογράφου, 1966). 
(more)…Οι εκπληξεις συνεχιζονται και μεσα στην αιθουσα, οπου οι 1.500 θεατες βρισκουν στη θεση τους απο ενα πακετο τσιγαρα, δωρο του παραγωγου στο κοινο.</string>
				</dict>
				<dict>
					<key>Image</key>
					<string>blue23.jpg</string>
					<key>text</key>
					<string>Ο Β Εξώστης, το δυναμικό νεανικό κοινό του φεστιβάλ κάνει δυναμικά την εμφάνιση του για να διαδραματίσει σημαντικό ρόλο τα επόμενα χρόνια (11ο ΦΚΘ, 1970): 

(more)… Ο «Β΄εξώστης» παίρνει το όνομά του από την ομώνυμη κατηγορία θέσεων στην αίθουσα της Εταιρείας Μακεδονικών σπουδών, όπου συνήθως συγκεντρώνονται οι φοιτητές και η νεολαία λόγω του φθηνού εισιτηρίου.</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>3η Στάση</string>
			<key>Subtitle</key>
			<string>Α. ΣΒΩΛΟΥ – ΠΛ. ΝΑΥΑΡΙΝΟ (ΕΣΠΕΡΟΣ-ΑΝΑΤΟΛΙΑ-ΜΑΚΕΔΟΝΙΚΟΝ – ΝΑΥΑΡΙΝΟ – ΒΑΚΟΥΡΑ)</string>
			<key>Latitude</key>
			<string>40.630440</string>
			<key>Longitude</key>
			<string>22.942912</string>
			<key>Images</key>
			<array>
				<dict>
					<key>year</key>
					<string>1987</string>
					<key>Image</key>
					<string>blue21.jpg</string>
					<key>text</key>
					<string>Ο κινηματογράφος Έσπερος φιλοξενεί τις παράλληλες εκδηλώσεις του φεστιβάλ. 
(more)….Ο Έσπερος θα λειτουργήσει ως αίθουσα προβολών για το φεστιβάλ ως το 1996. Στις ξεχωριστές προβολές συγκαταλέγεται αυτή των ταινιών της Germaine Dulac με ζωντανή μουσική, με τον Σάκη Παπαδημητρίου στο πιάνο και τη Γεωργία Συλλαίου στο τραγούδι (28ο ΦΚΘ, 1987)</string>
				</dict>
				<dict>
					<key>year</key>
					<string>1994</string>
					<key>Image</key>
					<string>blue21.jpg</string>
					<key>text</key>
					<string>Κυρίαρχη μορφή του 35ου Φεστιβάλ Κινηματογράφου Θεσσαλονίκης αναδεικνύεται ο Ιάπωνας δημιουργός Ναγκίσα Όσιμα, το συνολικό έργο του οποίου προβάλλεται σε αναδρομικό αφιέρωμα στον κινηματογράφο «Έσπερος» (35ο ΦΚΘ, 1994): 
(more)… 
Ο ίδιος ο Όσιμα έρχεται για λίγες μέρες στη Θεσσαλονίκη, προλογίζει ταινίες του σε κατάμεστες αίθουσες, συναντιέται με το φίλο του Θόδωρο Αγγελόπουλο και διασκεδάζει στο κέντρο που τραγουδά η Δήμητρα Γαλάνη. </string>
				</dict>
				<dict>
					<key>year</key>
					<string>1996</string>
					<key>Image</key>
					<string>blue22.jpg</string>
					<key>text</key>
					<string>Το 1996 για πρώτη –και μοναδική – χρονιά η έδρα των εκδηλώσεων του Φεστιβάλ Κινηματογράφου Θεσσαλονίκης μεταφέρεται στο «Ανατόλια».
 
(more)… Μπροστά στον κινηματογράφο στήνεται μια ειδική κατασκευή, ένα μεγάλου γυάλινου κουτιού, που σηματοδοτεί την εκεί παρουσία του φεστιβάλ.</string>
				</dict>
				<dict>
					<key>year</key>
					<string>1996</string>
					<key>Image</key>
					<string>blue23.jpg</string>
					<key>text</key>
					<string>Το 1996 για πρώτη –και μοναδική – χρονιά η έδρα των εκδηλώσεων του Φεστιβάλ Κινηματογράφου Θεσσαλονίκης μεταφέρεται στο «Ανατόλια».
 
(more)… Μπροστά στον κινηματογράφο στήνεται μια ειδική κατασκευή, ένα μεγάλου γυάλινου κουτιού, που σηματοδοτεί την εκεί παρουσία του φεστιβάλ.</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>4η Στάση</string>
			<key>Subtitle</key>
			<string>ΟΛΥΜΠΙΟΝ-ΠΛΑΤΕΙΑ ΑΡΙΣΤΟΤΕΛΟΥΣ</string>
			<key>Latitude</key>
			<string>40.632804</string>
			<key>Longitude</key>
			<string>22.941331</string>
			<key>Images</key>
			<array>
				<dict>
					<key>year</key>
					<string>1960</string>
					<key>Image</key>
					<string>blue31.jpg</string>
					<key>text</key>
					<string>H Διεθνής Έκθεση Θεσσαλονίκης διοργανώνει σειρά πολιτιστικών εκδηλώσεων για το σινεμά στη Θεσσαλονίκη με αφορμή τα 25 χρόνια λειτουργίας της (1η Εβδομάς Ελληνικού Κινηματογράφου, 1960) 

(more)…σε συνεργασία με την κινηματογραφική λέσχη της Μακεδονικής Καλλιτεχνικής Εταιρείας «Τέχνη».
Η 1η Εβδομάς Ελληνικού Κινηματογράφου εγκαινιάζεται επίσημα στις 20 Σεπτεμβρίου 1960, στο κινηματοθέατρο Ολύμπιον, από τον υπουργό Βιομηχανίας Νικόλαο Μάρτη, που έχει την εποπτεία του θεσμού.</string>
				</dict>
				<dict>
					<key>year</key>
					<string>1960</string>
					<key>Image</key>
					<string>blue32.jpg</string>
					<key>text</key>
					<string>H Διεθνής Έκθεση Θεσσαλονίκης διοργανώνει σειρά πολιτιστικών εκδηλώσεων για το σινεμά στη Θεσσαλονίκη με αφορμή τα 25 χρόνια λειτουργίας της (1η Εβδομάς Ελληνικού Κινηματογράφου, 1960) 

(more)…σε συνεργασία με την κινηματογραφική λέσχη της Μακεδονικής Καλλιτεχνικής Εταιρείας «Τέχνη».
Η 1η Εβδομάς Ελληνικού Κινηματογράφου εγκαινιάζεται επίσημα στις 20 Σεπτεμβρίου 1960, στο κινηματοθέατρο Ολύμπιον, από τον υπουργό Βιομηχανίας Νικόλαο Μάρτη, που έχει την εποπτεία του θεσμού.</string>
				</dict>
				<dict>
					<key>year</key>
					<string>1997</string>
					<key>Image</key>
					<string>blue33.jpg</string>
					<key>text</key>
					<string>H ιστορική κινηματογραφική αίθουσα θα ταυτιστεί με την ιστορία του Φεστιβάλ, το οποίο θα αλλάξει αρκετές έδρες για να επιστρέψει στο ανακαινισμένο Ολύμπιον το 1997.</string>
				</dict>
				<dict>
					<key>year</key>
					<string>1997</string>
					<key>Image</key>
					<string>blue34.jpg</string>
					<key>text</key>
					<string>Η πλήρης ανακαίνιση του Ολύμπιον έγινε στο πλαίσιο της Πολιτιστικής Πρωτεύουσας της Ευρώπη «Θεσσαλονίκη ΄97».</string>
				</dict>
				<dict>
					<key>year</key>
					<string>2000</string>
					<key>Image</key>
					<string>blue35.jpg</string>
					<key>text</key>
					<string>Απο το 1997 μέχρι και σήμερα το Ολύμπιον έχει φιλοξενήσει όλες τις διοργανώσεις του Φεστιβάλ αλλά και πλήθος εμβληματικών προσωπικοτήτων του παγκόσμιου κινηματογράφου (Κόπολα, Στοούν, Ντεσπλά, Βερασετάκουν, Κουστουρίτσα, Κιτάνο, Χέρτζογκ, κλπ)

Την άνοιξη του 2000 ο Δημήτρης Εϊπίδης καθιερώνει ένα νέο πρωτότυπο Φεστιβάλ, που έμελλε να αγαπηθεί εξίσου απο το κοινό της πόλης, το “Φεστιβάλ Ντοκιμαντέρ Θεσσαλονίκης– Εικόνες του 21ου αιώνα”. Κάθε διοργάνωση συγκεντρώνει κατά μ.ο. 30 χιλ. θεατές στις προβολές της. </string>
				</dict>
				<dict>
					<key>year</key>
					<string>2000</string>
					<key>Image</key>
					<string>blue36.jpg</string>
					<key>text</key>
					<string>Απο το 1997 μέχρι και σήμερα το Ολύμπιον έχει φιλοξενήσει όλες τις διοργανώσεις του Φεστιβάλ αλλά και πλήθος εμβληματικών προσωπικοτήτων του παγκόσμιου κινηματογράφου (Κόπολα, Στοούν, Ντεσπλά, Βερασετάκουν, Κουστουρίτσα, Κιτάνο, Χέρτζογκ, κλπ)

Την άνοιξη του 2000 ο Δημήτρης Εϊπίδης καθιερώνει ένα νέο πρωτότυπο Φεστιβάλ, που έμελλε να αγαπηθεί εξίσου απο το κοινό της πόλης, το “Φεστιβάλ Ντοκιμαντέρ Θεσσαλονίκης– Εικόνες του 21ου αιώνα”. Κάθε διοργάνωση συγκεντρώνει κατά μ.ο. 30 χιλ. θεατές στις προβολές της.</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>5η Στάση</string>
			<key>Subtitle</key>
			<string>ΛΙΜΑΝΙ</string>
			<key>Latitude</key>
			<string>40.632511</string>
			<key>Longitude</key>
			<string>22.947489</string>
			<key>Images</key>
			<array>
				<dict>
					<key>year</key>
					<string>1996</string>
					<key>Image</key>
					<string>blue42.jpg</string>
					<key>text</key>
					<string>Δημοσιογράφοι επισκέπτονται τα σκηνικά της ταινίας «Μια αιωνιότητα και μια μέρα» του Θόδωρου Αγγελόπουλου, η οποία γυρίστηκε στη Θεσσαλονίκη (37ο ΦΚΘ, 1996): 
(more)….. Λίγους μήνες αργότερα η ταινία θα κερδίσει το «Χρυσό Φοίνικα» στο Φεστιβάλ Κινηματογράφου των Καννών και έτσι θα γίνει η πρώτη –και η μοναδική μέχρι σήμερα- ελληνική ταινία που έχει κατακτήσει τη συγκεκριμένη διάκριση.</string>
				</dict>
				<dict>
					<key>year</key>
					<string>2000</string>
					<key>Image</key>
					<string>blue43.jpg</string>
					<key>text</key>
					<string>Οι Αποθήκες στο Λιμάνι φιλοξενούν ενδιαφέρουσες εκθέσεις όπως 

(more...) η «Ζωγραφική στον κινηματογράφο: Γιγαντοαφίσες στην 7η Τέχνη», έκθεση κινηματογραφικής αφίσας της συλλογής Hellafi. (35ο ΦΚΘ, 1994) αλλά και η έκθεση σκηνικών και κοστουμιών των Μικέ Καραπιπέρη – Γιώργου Ζιάκα – Γιώργου Πατσά από τα γυρίσματα των ταινιών του Θόδωρου Αγγελόπουλου. Η Αποθήκη Δ΄ φιλοξενεί έκθεση κινηματογραφικής αφίσας από ταινίες του μεγάλου δημιουργού (41ο ΦΚΘ, 2000)</string>
				</dict>
				<dict>
					<key>year</key>
					<string>2001</string>
					<key>Image</key>
					<string>blue44.jpg</string>
					<key>text</key>
					<string>Οι τέσσερις αίθουσες προβολών στο λιμάνι αποκτούν κινηματογραφικά ονόματα και γίνονται τμήμα του Φεστιβάλ Κινηματογράφου. (42ο ΦΚΘ, 2001)
(more…) Βαφτίζονται «Τώνια Μαρκετάκη» και «Τζον Κασσαβέτης» (Αποθήκη Α΄) και «Φρίντα Λιάππα» και «Τάκης Κανέλλοπουλος» (Αποθήκη Δ’). Η τελευταία μετονομάζεται την επόμενη χρονιά σε αίθουσα «Σταύρος Τορνές», προκειμένου να αποφεύγεται η σύγχυση με την αίθουσα «Κανελλόπουλος» του παρακείμενου Μουσείου Κινηματογράφου.</string>
				</dict>
				<dict>
					<key>year</key>
					<string>2001</string>
					<key>Image</key>
					<string>blue45.jpg</string>
					<key>text</key>
					<string>Οι τέσσερις αίθουσες προβολών στο λιμάνι αποκτούν κινηματογραφικά ονόματα και γίνονται τμήμα του Φεστιβάλ Κινηματογράφου. (42ο ΦΚΘ, 2001)
(more…) Βαφτίζονται «Τώνια Μαρκετάκη» και «Τζον Κασσαβέτης» (Αποθήκη Α΄) και «Φρίντα Λιάππα» και «Τάκης Κανέλλοπουλος» (Αποθήκη Δ’). Η τελευταία μετονομάζεται την επόμενη χρονιά σε αίθουσα «Σταύρος Τορνές», προκειμένου να αποφεύγεται η σύγχυση με την αίθουσα «Κανελλόπουλος» του παρακείμενου Μουσείου Κινηματογράφου.</string>
				</dict>
				<dict>
					<key>year</key>
					<string>2001</string>
					<key>Image</key>
					<string>blue46.jpg</string>
					<key>text</key>
					<string>Οι τέσσερις αίθουσες προβολών στο λιμάνι αποκτούν κινηματογραφικά ονόματα και γίνονται τμήμα του Φεστιβάλ Κινηματογράφου. (42ο ΦΚΘ, 2001)
(more…) Βαφτίζονται «Τώνια Μαρκετάκη» και «Τζον Κασσαβέτης» (Αποθήκη Α΄) και «Φρίντα Λιάππα» και «Τάκης Κανέλλοπουλος» (Αποθήκη Δ’). Η τελευταία μετονομάζεται την επόμενη χρονιά σε αίθουσα «Σταύρος Τορνές», προκειμένου να αποφεύγεται η σύγχυση με την αίθουσα «Κανελλόπουλος» του παρακείμενου Μουσείου Κινηματογράφου.</string>
				</dict>
				<dict>
					<key>year</key>
					<string>2008</string>
					<key>Image</key>
					<string>blue41.jpg</string>
					<key>text</key>
					<string>Oliver Stone και Emir Kusturica ενώνουν τις δυνάμεις τους στη συναυλία των No Smoking Band στην Αποθήκη Γ΄ στο Λιμάνι (49ο ΦΚΘ, 2008)</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>Color</key>
	<string>blue</string>
	<key>Name</key>
	<string>Χρονολόγιο</string>
</dict>
</plist>
