<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Stations</key>
	<array>
		<dict>
			<key>Title</key>
			<string>1η Στάση</string>
			<key>GrSubtitle</key>
			<string>Λευκός Πύργος-Εταιρία Μακεδονικών Σπουδών (ΕΜΣ)</string>
			<key>EnSubtitle</key>
			<string>White Tower – Society of Macedonian Studies Hall (EMS)</string>
			<key>Longitude</key>
			<string>22.9497383</string>
			<key>Latitude</key>
			<string>40.6271087</string>
			<key>Images</key>
			<array>
				<dict>
					<key>year</key>
					<string>1964</string>
					<key>Image</key>
					<string>blue01.jpg</string>
					<key>GrText</key>
					<string>Η έδρα του φεστιβάλ μεταφέρεται από τον κινηματογράφο «Ολύμπιον» στην Εταιρεία Μακεδονικών Σπουδών, χώρο με τον οποίο το φεστιβάλ θα συνδεθεί ιστορικά για περίπου 3,5 δεκαετίες (5η Εβδομάς Ελληνικού Κινηματογράφου, 1964)</string>
					<key>EnText</key>
					<string>The film festival’s headquarters move from the &quot;Olympion&quot; theatre to the EMS hall, a place, which will be closely linked to the festival’s history for more than three decades (5th Greek Film Week, 1964)</string>
				</dict>
				<dict>
					<key>year</key>
					<string>1966</string>
					<key>Image</key>
					<string>blue02.jpg</string>
					<key>GrText</key>
					<string>Ο παραγωγός Τζεϊμς Παρις, εμβληματική μορφή του Φεστιβάλ κατά την περίοδο 1966-1972, «κατεβαζει» ενα τανκ στην πλατεια του Λευκου Πυργου για διαφημιστικους σκοπους της ταινίας «Ξεχασμενοι ηρωες», σε δική του παραγωγή (7η Φεστιβάλ Ελληνικού Κινηματογράφου, 1966). 
Οι εκπληξεις συνεχιζονται και μεσα στην αιθουσα, οπου οι 1.500 θεατες βρισκουν στη θεση τους απο ενα πακετο τσιγαρα, δωρο του παραγωγου στο κοινο.</string>
					<key>EnText</key>
					<string>Greek-American film producer James Paris, a famous festival figure during the years 1966-1972, hires a tank to march around the White Tower’s square in order to publicize his film “Forgotten Heores” (7th Greek Film Week, 1966) . The screening is full of surprises. More than 1.500 viewers that attend Paris’ film find a pack of cigarettes in their seat, a promo gift on behalf of the producer.</string>
				</dict>
				<dict>
					<key>year</key>
					<string>1970</string>
					<key>Image</key>
					<string>blue03.jpg</string>
					<key>GrText</key>
					<string>Ο Β Εξώστης, το δυναμικό νεανικό κοινό του φεστιβάλ κάνει δυναμικά την εμφάνιση του για να διαδραματίσει σημαντικό ρόλο τα επόμενα χρόνια (11ο ΦΚΘ, 1970): 

 Ο «Β΄εξώστης» παίρνει το όνομά του από την ομώνυμη κατηγορία θέσεων στην αίθουσα της Εταιρείας Μακεδονικών σπουδών, όπου συνήθως συγκεντρώνονται οι φοιτητές και η νεολαία λόγω του φθηνού εισιτηρίου.</string>
					<key>EnText</key>
					<string>The “2nd Balcony” is a special place in EMS hall, which will be identified with the dynamic young public of the Thessaloniki Film Festival that plays an important role in the forming of a local festival culture (11th Greek Film Week, 1970). The “2nd Balcony” is named after the homonymous seat category at the EMS hall, which is  the students’ favorite place because of cheap entrance fees.</string>
				</dict>
				<dict>
					<key>year</key>
					<string>1972</string>
					<key>Image</key>
					<string>blue04.jpg</string>
					<key>GrText</key>
					<string>Πραγματοποιείται για πρώτη φορά το 1ο Διεθνές Φεστιβάλ Κινηματογράφου Θεσσαλονίκης στην Εταιρεία Μακεδονικών Σπουδών (13ο ΦΚΘ, 1972)
Το διεθνές φεστιβάλ διεξάγεται μία βδομάδα μετά το επίσημο διαγωνιστικό του ελληνικού προγράμματος, αφορά σε ταινίες μικρού μήκους και διοργανώνεται υπό την ευθύνη της ΔΕΘ και της Διεθνούς Ομοσπονδίας Παραγωγών Κινηματογράφου (FIAPF).</string>
					<key>EnText</key>
					<string>The 1st Thessaloniki International Film Festival is held at the EMS hall in 1972, in the occasion of the 13th Greek Film Week in 1972. The festival’s international section concerns foreign short films and it is held a week after the official competition of the Greek section, under the auspices of the Thessaloniki International Fair Trade and the International Federation of Film Producers Associations (FIAPF).</string>
				</dict>
				<dict>
					<key>year</key>
					<string>1992</string>
					<key>Image</key>
					<string>blue05.jpg</string>
					<key>GrText</key>
					<string>Το Φεστιβάλ γίνεται και επισήμως Διεθνές. Το επίσημο διαγωνιστικό φιλοξενεί ταινίες πρωτοεμφανιζομενων δημιουργών από όλο τον κόσμο. Παράλληλα φιλοξενεί μέχρι και το 1997 το Φεστιβάλ Ελληνικού Κινηματογράφου.</string>
					<key>EnText</key>
					<string>Το Φεστιβάλ γίνεται και επισήμως Διεθνές. Το επίσημο διαγωνιστικό φιλοξενεί ταινίες πρωτοεμφανιζομενων δημιουργών από όλο τον κόσμο. Παράλληλα φιλοξενεί μέχρι και το 1997 το Φεστιβάλ Ελληνικού Κινηματογράφου.</string>
				</dict>
				<dict>
					<key>year</key>
					<string>1995</string>
					<key>Image</key>
					<string>blue06.jpg</string>
					<key>GrText</key>
					<string>Το Φεστιβάλ φιλοξενείται για τελευταία φορά στους χώρους της ΕΜΣ. Το κτίριο θα ανακαινιστεί ριζικά στο εσωτερικό του από τον Οργανισμό Πολιτιστικής Πρωτεύουσας Θεσσαλονίκη 1997, αφήνοντας πίσω του μια λαμπρή κινηματογραφική ιστορία για την πόλη. </string>
					<key>EnText</key>
					<string>Το Φεστιβάλ φιλοξενείται για τελευταία φορά στους χώρους της ΕΜΣ. Το κτίριο θα ανακαινιστεί ριζικά στο εσωτερικό του από τον Οργανισμό Πολιτιστικής Πρωτεύουσας Θεσσαλονίκη 1997, αφήνοντας πίσω του μια λαμπρή κινηματογραφική ιστορία για την πόλη. </string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>2η Στάση</string>
			<key>GrSubtitle</key>
			<string>Καφέ Ντορέ – Αλέξανδρος</string>
			<key>EnSubtitle</key>
			<string>Caffé “Do-re” &amp; “Alexandros” </string>
			<key>Latitude</key>
			<string>40.6269345</string>
			<key>Longitude</key>
			<string>22.9493905</string>
			<key>Images</key>
			<array>
				<dict>
					<key>year</key>
					<string>1963</string>
					<key>Image</key>
					<string>blue12.jpg</string>
					<key>GrText</key>
					<string>Το Σινέ Αλέξανδρος, βρίσκεται κάτω απο την Λέσχη Αξιωματικών Θεσσαλονίκης, γειτνίαζε με την ΕΜΣ, έδρα του Φεστιβάλ επί πολλά χρόνια, και αποτέλεσε χώρο αρκετών προβολών και δράσεων μεταξύ των οποίων προβολές ταινιών μικρού μήκους. Εδώ βρίσκεται και ένα γλυπτό μνημείο του σκηνοθέτη Τάκη Κανελλόπουλου, ο οποίος συνέδεσε το όνομα του με το Φεστιβάλ Θεσσαλονίκης και το τότε στέκι των φεστιβαλιστών, το Ντορέ.</string>
					<key>EnText</key>
					<string>“Alexandros” cinema theatre is located just below the Thessaloniki Military Club and it is very close to the EMS hall, which serves as the festival’s seat and a place for short film screenings for many years. Here is a sculptured marble in the honor of filmmaker Takis Kanellopoulos, whose name was particularly connected to the Thessaloniki Film Festival and to the caffé “Do-re”, one of the festival’s most popular haunts.</string>
				</dict>
				<dict>
					<key>year</key>
					<string>1990</string>
					<key>Image</key>
					<string>blue11.jpg</string>
					<key>GrText</key>
					<string>Το καφενείο «Ντορέ» απέναντι από το Λευκό Πύργο αποτέλεσε ιστορικό στέκι, όπου συγκεντρώνονται καλλιτέχνες και κοινό απο την δεκαετία του &apos;60 εως και την διεθνοποίηση του Φεστιβάλ (δεκαετία &apos;90)

 Οι συζητήσεις μεταξύ σκηνοθετών και θεατών στο «Ντορέ» ξεκινούν συνήθως μετά το τέλος των προβολών και κρατούν μέχρι τα ξημερώματα, διαμορφώνοντας φεστιβαλική ατμόσφαιρα.</string>
					<key>EnText</key>
					<string>The caffé “Do-re”, opposite the White Tower, was a popular haunt, which was frequented by artists as well as festival viewers during the 60s and onwards, since the festival’s internationalization in the 1990s. Debates between filmmakers and viewers at the caffé “Do-re” usually begin after the screenings and carry on until dawn, adding to a festive atmosphere.</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>3η Στάση</string>
			<key>GrSubtitle</key>
			<string>Α. Σβώλου – Πλ. Ναυαρίνο (Έσπερος-Ανατόλια-Μακεδονικόν–Ναυαρίνο–Βακούρα)</string>
			<key>EnSubtitle</key>
			<string>Alexandrou Svolou Str. – Navarinon Square </string>
			<key>Latitude</key>
			<string>40.6330961</string>
			<key>Longitude</key>
			<string>22.9470789</string>
			<key>Images</key>
			<array>
				<dict>
					<key>year</key>
					<string>1987</string>
					<key>Image</key>
					<string>blue21.jpg</string>
					<key>GrText</key>
					<string>Ο κινηματογράφος Έσπερος φιλοξενεί τις παράλληλες εκδηλώσεις του φεστιβάλ. 
Ο Έσπερος θα λειτουργήσει ως αίθουσα προβολών για το φεστιβάλ ως το 1996. Στις ξεχωριστές προβολές συγκαταλέγεται αυτή των ταινιών της Germaine Dulac με ζωντανή μουσική, με τον Σάκη Παπαδημητρίου στο πιάνο και τη Γεωργία Συλλαίου στο τραγούδι (28ο ΦΚΘ, 1987)</string>
					<key>EnText</key>
					<string>«Esperos” cinema theatre hosts the festival’s sidebar events.  It operates as a festival venue until 1996.
Among the popular screenings which were held at “Esperos”, there is a film music concert of Germaine Dula’s films, with pianist-composer Sakis Papadimitriou and singer Georgia Silleou (28th Thessaloniki Film Festival, 1987).</string>
				</dict>
				<dict>
					<key>year</key>
					<string>1994</string>
					<key>Image</key>
					<string>blue24.jpg</string>
					<key>GrText</key>
					<string>Κυρίαρχη μορφή του 35ου Φεστιβάλ Κινηματογράφου Θεσσαλονίκης αναδεικνύεται ο Ιάπωνας δημιουργός Ναγκίσα Όσιμα, το συνολικό έργο του οποίου προβάλλεται σε αναδρομικό αφιέρωμα στον κινηματογράφο «Έσπερος» (35ο ΦΚΘ, 1994): 
Ο ίδιος ο Όσιμα έρχεται για λίγες μέρες στη Θεσσαλονίκη, προλογίζει ταινίες του σε κατάμεστες αίθουσες, συναντιέται με το φίλο του Θόδωρο Αγγελόπουλο και διασκεδάζει στο κέντρο που τραγουδά η Δήμητρα Γαλάνη. </string>
					<key>EnText</key>
					<string>Japanese filmmaker Nagisa Osima is the dominant figure in the 35th edition of the Thessaloniki Film Festival, which organizes a retrospective of his work in “Esperos” cinema theatre. Nagisa Osima visits Thessaloniki for a few days in order to prologue his films, which are screened in crowded halls. Osima meets with his friend Theo Angelopoulos and entertains himself at a concert with singer Dimitra Galani.</string>
				</dict>
				<dict>
					<key>year</key>
					<string>1996</string>
					<key>Image</key>
					<string>blue22.jpg</string>
					<key>GrText</key>
					<string>Το 1996 για πρώτη –και μοναδική – χρονιά η έδρα των εκδηλώσεων του Φεστιβάλ Κινηματογράφου Θεσσαλονίκης μεταφέρεται στο «Ανατόλια».
 
 Μπροστά στον κινηματογράφο στήνεται μια ειδική κατασκευή, ένα μεγάλου γυάλινου κουτιού, που σηματοδοτεί την εκεί παρουσία του φεστιβάλ.</string>
					<key>EnText</key>
					<string>In 1996 the Thessaloniki Film Festival is held in “Anatolia” cinema theatre, for the first –and last- time in its history. In front of “Anatolia” cinema theatre there is a special construction which marks the festival’s presence on the spot.</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>4η Στάση</string>
			<key>GrSubtitle</key>
			<string>Ολύμπιον-Πλατεία Αριστοτέλους</string>
			<key>EnSubtitle</key>
			<string>“Olympion” complex – Aristotelous Square</string>
			<key>Latitude</key>
			<string>40.6326916</string>
			<key>Longitude</key>
			<string>22.9416844</string>
			<key>Images</key>
			<array>
				<dict>
					<key>year</key>
					<string>1960</string>
					<key>Image</key>
					<string>blue31.jpg</string>
					<key>GrText</key>
					<string>H Διεθνής Έκθεση Θεσσαλονίκης διοργανώνει σειρά πολιτιστικών εκδηλώσεων για το σινεμά στη Θεσσαλονίκη με αφορμή τα 25 χρόνια λειτουργίας της (1η Εβδομάς Ελληνικού Κινηματογράφου, 1960) 

σε συνεργασία με την κινηματογραφική λέσχη της Μακεδονικής Καλλιτεχνικής Εταιρείας «Τέχνη».
Η 1η Εβδομάς Ελληνικού Κινηματογράφου εγκαινιάζεται επίσημα στις 20 Σεπτεμβρίου 1960, στο κινηματοθέατρο Ολύμπιον, από τον υπουργό Βιομηχανίας Νικόλαο Μάρτη, που έχει την εποπτεία του θεσμού.</string>
					<key>EnText</key>
					<string>The Thessaloniki International Trade Fair organizes a series of film events in Thessaloniki, in the occasion of its 25th anniversary (1st Greek Film Week, 1960). In collaboration with the Film Club of the Macedonian Society “Techne”.
The 1st Greek Film Week is officially inaugurated on September 20th, 1960, in the Olympion cinema theatre, by the Minister of Industry Nikolaos Martis, who supervises the event.</string>
				</dict>
				<dict>
					<key>year</key>
					<string>1997</string>
					<key>Image</key>
					<string>blue33.jpg</string>
					<key>GrText</key>
					<string>H ιστορική κινηματογραφική αίθουσα θα ταυτιστεί με την ιστορία του Φεστιβάλ, το οποίο θα αλλάξει αρκετές έδρες για να επιστρέψει στο ανακαινισμένο Ολύμπιον το 1997.</string>
					<key>EnText</key>
					<string>It is a traditional cinema theatre which will be identified with the festival’s history, that will change many seats to finally return to the refurbished “Olympion” venue in 1997.</string>
				</dict>
				<dict>
					<key>year</key>
					<string>1997</string>
					<key>Image</key>
					<string>blue34.jpg</string>
					<key>GrText</key>
					<string>Η πλήρης ανακαίνιση του Ολύμπιον έγινε στο πλαίσιο της Πολιτιστικής Πρωτεύουσας της Ευρώπη «Θεσσαλονίκη ΄97».</string>
					<key>EnText</key>
					<string>Olympion cinema theatre was totally renovated in 1997, the year when Thessaloniki was the Cultural Capital of Europe.</string>
				</dict>
				<dict>
					<key>year</key>
					<string>2000</string>
					<key>Image</key>
					<string>blue37.jpg</string>
					<key>GrText</key>
					<string>Την άνοιξη του 2000 ο Δημήτρης Εϊπίδης καθιερώνει ένα νέο πρωτότυπο Φεστιβάλ, που έμελλε να αγαπηθεί εξίσου απο το κοινό της πόλης, το “Φεστιβάλ Ντοκιμαντέρ Θεσσαλονίκης– Εικόνες του 21ου αιώνα”. Κάθε διοργάνωση συγκεντρώνει κατά μ.ο. 30 χιλ. θεατές στις προβολές της.</string>
					<key>EnText</key>
					<string>In the spring of 2000, film festival curator Dimitris Eipidis establishes a new film event, the Thessaloniki Documentary Festival – Images of the 21st century”, which gathers an average of 30.000 viewers every year in its screenings.</string>
				</dict>
				<dict>
					<key>year</key>
					<string>2014</string>
					<key>Image</key>
					<string>blue35.jpg</string>
					<key>GrText</key>
					<string>Απο το 1997 μέχρι και σήμερα το Ολύμπιον έχει φιλοξενήσει όλες τις διοργανώσεις του Φεστιβάλ αλλά και πλήθος εμβληματικών προσωπικοτήτων του παγκόσμιου κινηματογράφου (Κόπολα, Στοούν, Ντεσπλά, Βερασετάκουν, Κουστουρίτσα, Κιτάνο, Χέρτζογκ, κλπ)</string>
					<key>EnText</key>
					<string>From its re-opening in 1997 until today, the “Olympion” cinema theatre hosts the main corpus of film festival activities. It has been a popular venue, which was visited by acclaimed personalities of world cinema (Coppola, Stone, Desplas, Kusturica, Kitano, Herzog etc).</string>
				</dict>
				<dict>
					<key>year</key>
					<string>2014</string>
					<key>Image</key>
					<string>blue36.jpg</string>
					<key>GrText</key>
					<string>Από το 2010 το Φεστιβάλ αλλάζει πορεία και επηρεασμένο και από τη σοβαρή οικονομική κρίση της Ελλάδας στρέφεται εκ νέου σε πιο ανοιχτούς κινηματογραφικούς ορίζοντες. Στα χρόνια αυτά το κοινό έχει την ευκαιρία να ανακαλύψει εναλλακτικούς σκηνοθέτες, όπως τους Αλέν Γκιροντί, Μπαχμάν Γκομπαντί και Όλε Κρίστιαν Μάντσεν, αλλά και να συνδεθεί εκ νέου με διαχρονικά αγαπημένες πρωταγωνίστριες, όπως η Χάνα Σιγκούλα, και δημιουργούς, όπως οι Άκι Καουρισμάκι, Πάολο Σορεντίνο και Κωνσταντίνος Γιάνναρης.</string>
					<key>EnText</key>
					<string>Από το 2010 το Φεστιβάλ αλλάζει πορεία και επηρεασμένο και από τη σοβαρή οικονομική κρίση της Ελλάδας στρέφεται εκ νέου σε πιο ανοιχτούς κινηματογραφικούς ορίζοντες. Στα χρόνια αυτά το κοινό έχει την ευκαιρία να ανακαλύψει εναλλακτικούς σκηνοθέτες, όπως τους Αλέν Γκιροντί, Μπαχμάν Γκομπαντί και Όλε Κρίστιαν Μάντσεν, αλλά και να συνδεθεί εκ νέου με διαχρονικά αγαπημένες πρωταγωνίστριες, όπως η Χάνα Σιγκούλα, και δημιουργούς, όπως οι Άκι Καουρισμάκι, Πάολο Σορεντίνο και Κωνσταντίνος Γιάνναρης.</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>5η Στάση</string>
			<key>GrSubtitle</key>
			<string>Λιμάνι</string>
			<key>EnSubtitle</key>
			<string>The port</string>
			<key>Latitude</key>
			<string>40.631721</string>
			<key>Longitude</key>
			<string>22.93505</string>
			<key>Images</key>
			<array>
				<dict>
					<key>year</key>
					<string>1994</string>
					<key>Image</key>
					<string>blue43.jpg</string>
					<key>GrText</key>
					<string>Οι Αποθήκες στο Λιμάνι φιλοξενούν ενδιαφέρουσες εκθέσεις όπως η «Ζωγραφική στον κινηματογράφο: Γιγαντοαφίσες στην 7η Τέχνη», έκθεση κινηματογραφικής αφίσας της συλλογής Hellafi. (35ο ΦΚΘ, 1994) αλλά και η έκθεση σκηνικών και κοστουμιών των Μικέ Καραπιπέρη – Γιώργου Ζιάκα – Γιώργου Πατσά από τα γυρίσματα των ταινιών του Θόδωρου Αγγελόπουλου. Η Αποθήκη Δ΄ φιλοξενεί έκθεση κινηματογραφικής αφίσας από ταινίες του μεγάλου δημιουργού (41ο ΦΚΘ, 2000)</string>
					<key>EnText</key>
					<string>Warehouses at the city’s port host interesting art exhibitions
such as “Painting in film: Giant film posters”, a film poster exhibition of Hellafi collection (35th TIFF, 1994), as well as the settings and costumes exhibitions of Mikes Karapiperis-Giorgos Ziakas-Giorgos Patsas from Theo Angelopoulos’ film shootings. Warehouse D hosts a film poster exhibition, inspired by films of the famous Greek auteur.</string>
				</dict>
				<dict>
					<key>year</key>
					<string>1996</string>
					<key>Image</key>
					<string>blue42.jpg</string>
					<key>GrText</key>
					<string>Δημοσιογράφοι επισκέπτονται τα σκηνικά της ταινίας «Μια αιωνιότητα και μια μέρα» του Θόδωρου Αγγελόπουλου, η οποία γυρίστηκε στη Θεσσαλονίκη (37ο ΦΚΘ, 1996):  Λίγους μήνες αργότερα η ταινία θα κερδίσει το «Χρυσό Φοίνικα» στο Φεστιβάλ Κινηματογράφου των Καννών και έτσι θα γίνει η πρώτη –και η μοναδική μέχρι σήμερα- ελληνική ταινία που έχει κατακτήσει τη συγκεκριμένη διάκριση.</string>
					<key>EnText</key>
					<string>Journalists visit the settings of Theo Angelopoulos’ film “Eternity and a day”, which was shot in Thessaloniki (37th TIFF, 1996) . A few months later the film wins the “Palme d’ Or” at the Cannes Film Festival and thus becomes the first –and the last, up until now- Greek film, which has achieved this prominent award.</string>
				</dict>
				<dict>
					<key>year</key>
					<string>2001</string>
					<key>Image</key>
					<string>blue44.jpg</string>
					<key>GrText</key>
					<string>Οι τέσσερις αίθουσες προβολών στο λιμάνι αποκτούν κινηματογραφικά ονόματα και γίνονται τμήμα του Φεστιβάλ Κινηματογράφου. (42ο ΦΚΘ, 2001)
 Βαφτίζονται «Τώνια Μαρκετάκη» και «Τζον Κασσαβέτης» (Αποθήκη Α΄) και «Φρίντα Λιάππα» και «Τάκης Κανέλλοπουλος» (Αποθήκη Δ’). Η τελευταία μετονομάζεται την επόμενη χρονιά σε αίθουσα «Σταύρος Τορνές», προκειμένου να αποφεύγεται η σύγχυση με την αίθουσα «Κανελλόπουλος» του παρακείμενου Μουσείου Κινηματογράφου.</string>
					<key>EnText</key>
					<string>The four warehouses at the city’s port are renovated into cinema theatres and become a vital part of Thessaloniki Film Festival (42nd TIFF, 2001). They are named after four prominent Greek filmmakers: “Tonia Marketaki” and “John Cassavetes” (Warehouse A’) and “Frida Liappa” and “Takis Kanellopoulos” (Warehouse D’). The “Takis Kanellopoulos” hall is later renamed as “Stavros Tornes” hall in order to avoid confusion with “Kanellopoulos” hall, the main venue of the neighboring Cinema Museum.</string>
				</dict>
				<dict>
					<key>year</key>
					<string>2008</string>
					<key>Image</key>
					<string>blue41.jpg</string>
					<key>GrText</key>
					<string>Oliver Stone και Emir Kusturica ενώνουν τις δυνάμεις τους στη συναυλία των No Smoking Band στην Αποθήκη Γ΄ στο Λιμάνι (49ο ΦΚΘ, 2008)</string>
					<key>EnText</key>
					<string>Oliver Stone and Emir Kusturica join No Smoking Band’s concert at the Warehouse C, held at the city’s port (49th TIFF, 2008).</string>
				</dict>
				<dict>
					<key>year</key>
					<string>2013</string>
					<key>Image</key>
					<string>blue45.jpg</string>
					<key>GrText</key>
					<string>Ένα από τα πιο αγαπημένα και πρωτότυπα τμήματα του Φεστιβάλ, οι Ματιές στα Βαλκάνια, γιορτάζουν 20 χρόνια δημιουργικής παρουσίας. Μέσα σε αυτές τις δύο δεκαετίες η Θεσσαλονίκη με αυτό το παράλληλο πανόραμα ταινιών προβάλει όλες τις νέες τάσεις και τη ματιά των σκηνοθετών από το σύνολο των Βαλκανίων. Ταυτόχρονα, παρουσίασε ειδικές ρετροσπεκτίβες σε σημαντικούς δημιουργούς, όπως οι Λουτσιάν Πιντιλιέ, Γκόραν Πασκάλιεβιτς,Νουρί Μπιλγκέ Τσεϊλάν και Κριστιάν Μουντζίου και νέα ρεύματα, όπως ο νέος ρουμάνικος κινηματογράφος, που αγκαλιάστηκαν από το διεθνές κοινό.</string>
					<key>EnText</key>
					<string>Οι Αποθήκες στο Λιμάνι φιλοξενούν ενδιαφέρουσες εκθέσεις όπως 
 η «Ζωγραφική στον κινηματογράφο: Γιγαντοαφίσες στην 7η Τέχνη», έκθεση κινηματογραφικής αφίσας της συλλογής Hellafi. (35ο ΦΚΘ, 1994) αλλά και η έκθεση σκηνικών και κοστουμιών των Μικέ Καραπιπέρη – Γιώργου Ζιάκα – Γιώργου Πατσά από τα γυρίσματα των ταινιών του Θόδωρου Αγγελόπουλου. Η Αποθήκη Δ΄ φιλοξενεί έκθεση κινηματογραφικής αφίσας από ταινίες του μεγάλου δημιουργού (41ο ΦΚΘ, 2000)</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>Color</key>
	<string>green</string>
	<key>GrName</key>
	<string>Φεστιβάλ Κινηματογράφου Θεσσαλονίκης</string>
	<key>EnName</key>
	<string>Thessaloniki International Film Festival</string>
</dict>
</plist>
