<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Stations</key>
	<array>
		<dict>
			<key>text</key>
			<string>Η 1η κινηματογραφική προβολή στην Θεσσαλονίκη έγινε εδώ το 1897, στο καφέ «Η Τουρκία». 

Στην ευρύτερη περιοχή της πλατείας χτίστηκαν αρκετά σινεμά όπως: Σπλέντιντ (μετέπειτα Ίλιον), Πάνθεον, Αττικόν και Ολύμπιον (στη σημερινή οδό Μοναστηρίου), καθώς αργότερα και τα πορνό σινεμά της πλατείας. </string>
			<key>Title</key>
			<string>1η Στάση</string>
			<key>Subtitle</key>
			<string>Βαρδάρης</string>
			<key>Longitude</key>
			<string>22.934721</string>
			<key>Latitude</key>
			<string>40.641142</string>
			<key>Images</key>
			<array>
				<string>red01.jpg</string>
				<string>red02.jpg</string>
			</array>
		</dict>
		<dict>
			<key>text</key>
			<string>Μια από τις πιο κινηματογραφικές και κινηματογραφημένες γωνιές του κέντρου. 

Στο λιμάνι λειτουργεί σήμερα το Μουσείο Κινηματογράφου και η Ταινιοθήκη Θεσσαλονίκης, όπως και οι τέσσερις αίθουσες προβολών του φεστιβάλ.

Ταινίες που γυρίστηκαν εδώ (ενδεικτική αναφορά): Το Λιβάδι που δακρύζει, Ταξίδι στα Κύθηρα, Τοπίο στην Ομίχλη, Ο Κλοιός.</string>
			<key>Title</key>
			<string>2η Στάση</string>
			<key>Subtitle</key>
			<string>Παραλία 1(Λιμάνι)</string>
			<key>Latitude</key>
			<string>40.635650</string>
			<key>Longitude</key>
			<string>22.935431</string>
			<key>Images</key>
			<array>
				<string>red11.jpg</string>
				<string>red12.jpg</string>
				<string>red13.jpg</string>
				<string>red14.jpg</string>
			</array>
		</dict>
		<dict>
			<key>text</key>
			<string>Στην Λεωφόρο Νίκης δημιουργείται η πρώτη κινηματογραφική αίθουσα στα Βαλκάνια, το Ολύμπια (1903). 

Εδώ λειτουργεί από το 1911 ο κινηματογράφος Πατέ με ταινίες της ομώνυμης εταιρείας παραγωγής.

Ταινίες που γυρίστηκαν στην Παραλία (ενδεικτική αναφορά): Η Αιωνιότητα και μια Ημερά, Ρ20, Όλα είναι δρόμος.
</string>
			<key>Title</key>
			<string>3η Στάση</string>
			<key>Subtitle</key>
			<string>Παραλία 2(Λεωφόρος Νίκης)</string>
			<key>Latitude</key>
			<string>40.630440</string>
			<key>Longitude</key>
			<string>22.942912</string>
			<key>Images</key>
			<array>
				<string>red21.jpg</string>
				<string>red22.jpg</string>
				<string>red23.jpg</string>
				<string>red24.jpg</string>
				<string>red25.jpg</string>
			</array>
		</dict>
		<dict>
			<key>text</key>
			<string>Κατά τη δεκαετία του ’50 η πλατεία μετρούσε 6 θερινά σινεμά (Ρεξ, Ηλύσια, Ελληνίς, Αιγαίο, Ρίο και Ζέφυρος). 

Εδώ βρίσκεται και σήμερα η σημερινή έδρα του Φεστιβάλ Κινηματογράφου Θεσσαλονίκης, το κινηματοθέατρο Ολύμπιον. 

Μοναδικό στο είδος του επίσης το πλωτό θερινό σινεμά με την ονομασία Κουρσάλ (ή κατ΄άλλους Τζερουσαλέμ) που λειτούρησε μεσοπολεμικά με βάση του την Παλιά Παραλία της πόλης.

Ταινίες που γυρίστηκαν εδώ (ενδεικτική αναφορά): Η Αιωνιότητα και μια Ημέρα, Φανέλα με το 9, Γεννέθλια Πόλη, Ατσίδας.</string>
			<key>Title</key>
			<string>4η Στάση</string>
			<key>Subtitle</key>
			<string>Πλατεία Αριστοτέλους</string>
			<key>Latitude</key>
			<string>40.632804</string>
			<key>Longitude</key>
			<string>22.941331</string>
			<key>Images</key>
			<array>
				<string>red31.jpg</string>
				<string>red32.jpg</string>
				<string>red33.jpg</string>
				<string>red34.jpg</string>
			</array>
		</dict>
		<dict>
			<key>text</key>
			<string>Μια περιοχή με πολλούς κινηματογράφους: Διονύσια (Αγίας Σοφίας), Έσπερος και Ριβολί (Αλ.Σβώλου), Μακεδονικόν (Φιλ.Εταιρείας) . 

Εδώ λειτούργησε στη δεκαετία του ’50 παράρτημα Θεσσαλονίκης της κινηματογραφικής σχολής Σταυράκου. 

Κατά την δεκαετία του &apos;80 τα βιντεοκλαμπ στο κέντρο αλλά και στις γειτονίες της πόλης αποτέλεσαν εναλλακτικό σημείο συνάντησης των σινεφιλ. 

Στην πορεία του χρόνου η βιντεοκασσέτα αντικαταστάθηκε απο το dvd και το blue-ray. Στην ίδια περιοχή (Οδός Α. Σβώλου) διατηρούνται ακόμη δύο απο τα -κάποτε αμέτρητα – βιντεο/dvd club της πόλης (AZA και Seven Film Gallery)</string>
			<key>Title</key>
			<string>5η Στάση</string>
			<key>Subtitle</key>
			<string>Κέντρο 1(Αγίας Σοφίας-Α.Σβώλου)</string>
			<key>Latitude</key>
			<string>40.632511</string>
			<key>Longitude</key>
			<string>22.947489</string>
			<key>Images</key>
			<array>
				<string>red41.jpg</string>
				<string>red42.jpg</string>
				<string>red43.jpg</string>
			</array>
		</dict>
		<dict>
			<key>text</key>
			<string>Στο κέντρο της Θεσσαλονίκης υπήρξαν αρκετοί κινηματογράφοι που για χρόνια αποτέλεσαν σημείο αναφοράς στην καθημερινότητα της πόλης τόσο λόγω της αρχιτεκτονικής όσο και λόγω της αναφοράς τους μέσα σε αυτήν 

Ενδεικτική αναφορά μερικών που αφορούν την ευρύτερη περιοχή: Ηλύσια, Ναυαρίνο, Έλση, Κλειώ, Ριβολί, Θυμέλη, Φαργκάνη. 

Οι κινηματογράφοι αλλά και τα κάφε-μπαρ του κέντρου της πόλης αποτέλεσαν, από την δεκαετία του &apos;80 και έπειτα, σημείο συνάντησης των φανατικών κινηματογραφόφιλων με τα κινηματογραφικά free press της Θεσσαλονίκης (Εξώστης, Φιξ Καρέ, Παράλλαξη, κλπ).

O Εξώστης υπήρξε πανελλαδικά το πρώτο free press. Κυκλοφόρησε το 1987.

Στα σινεμά της περιοχής κατά τις δεκαετίες του &apos;80 και &apos;90 διοργανώθηκαν αρκετές πρωτότυπες προβολές, μεταμεσονύκτιες και κινηματογραφικών λεσχών.</string>
			<key>Title</key>
			<string>6η Στάση</string>
			<key>Subtitle</key>
			<string>Κέντρο 2(Καμάρα -Ναυαρίνο)</string>
			<key>Latitude</key>
			<string>40.6319738</string>
			<key>Longitude</key>
			<string>22.952104</string>
			<key>Images</key>
			<array>
				<string>red61.jpg</string>
				<string>red62.jpg</string>
				<string>red63.jpg</string>
			</array>
		</dict>
		<dict>
			<key>text</key>
			<string>Από το 1905 ο κήπος του Λευκού Πύργου φιλοξενούσε αίθουσα κινηματογράφου. 

Εδώ βρίσκεται η Εταιρεία Μακεδονικών Σπουδών, παλιά έδρα του Φεστιβάλ Κινηματογράφου Θεσσαλονίκης και τα σινεμά Παλλάς (σημερινή έδρα της ΚΟΘ) και Αλέξανδρος. 

Στην ΕΜΣ φιλοξενήθηκε για αρκετά χρόνια το Φεστιβάλ Κινηματογράφου Θεσσαλονίκης. 

Στον Αλέξανδρο φιλουξενούνται κάθε Οκτώβριο οι προβολές του Thessaloniki International Short Film Festival (TISFF).

Η Νέα Παραλία, όπως και ο Λευκός Πύργος αποτέλεσαν επίσης εξαιρετικό σκηνικό φόντο για αρκετές ταινίες του παλιού αλλά και του νέου ελληνικού κινηματογράφου (ενδεικτική αναφορά): Ο Φάκελος Πολκ στον αέρα, Κάτι να καίει, Το βλέμμα του Οδυσσέα, Η Αιωνιότητα και μια Ημέρα, Το Λιβάδι που δακρύζει, Γεννέθλια Πόλη, Παρένθεση, Χώμα και Νερό</string>
			<key>Title</key>
			<string>7η Στάση</string>
			<key>Subtitle</key>
			<string>Λευκός Πύργος -Νέα Παραλία</string>
			<key>Latitude</key>
			<string>40.62638</string>
			<key>Longitude</key>
			<string>22.948306</string>
			<key>Images</key>
			<array>
				<string>red51.jpg</string>
				<string>red52.jpg</string>
				<string>red53.jpg</string>
			</array>
		</dict>
	</array>
	<key>Color</key>
	<string>red</string>
	<key>Name</key>
	<string>Τα σινεμά της πόλης </string>
</dict>
</plist>
